@font-face {
  font-family: "Pokemon";
  src: url("Pokemon-Classic.ttf");
}

html, body {
  border: 0;
  padding: 0;
  font-family: Pokemon;
  background-color: black;
  background-image: url("images/background.jpg");
  background-position: left;
  background-repeat: no repeat;
  background-size: cover;
  min-height: 2000px;
}


/* Pokemon cursor from cursors-4u.com */
a {
  cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

.snorlax143 {
 position: absolute;
 top: 500px;
 left: 200px;
 width: 200px;
}


.togepi175 {
  position: absolute;
  left: 100px;
  top: 1050px;
}


.lugia249 {
  position: absolute;
  top: 1850px;
  left: 650px;
  width: 150px;
}
